:root {
    --primaryColour: #2e3047;
    --secondaryColour: #272640;
    --textColour: #3bba9c;
    --highlightColor: #2b0e2b31;
    --highlightColor2: #4D194D;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--primaryColour);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.customNav,
.card-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: normal;
  color: var(--textColour);
}

h1,
h2 {
    font-weight: bold;
    letter-spacing: 10px;
}

a {
    text-decoration: none;
    transition: all 0.35s;
}

section {
    padding-top: 50px;
}

.card {
    background-color: var(--secondaryColour);
}

section h2 {
    padding-bottom: 25px;
}

/*Nav*/

.customNav {
    position: absolute;
    width: 100%;
    z-index: 10;
    --bs-bg-opacity: 0 !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.navbar-brand {
    padding-left: 8px;
    font-weight: bold;
    color: var(--textColour);
    --bs-navbar-brand-hover-color: var(--highlightColor2);
}

.nav-link {
    color: var(--textColour);
    --bs-nav-link-hover-color: var(--highlightColor2);
}

.navbar-toggler {
    color: var(--textColour);
    --bs-navbar-toggler-border-color: var(--textColour);
    background: var(--textColour);
}

/*Hero*/

.hero {
    display: flex;
    align-items: center;
    background: url("../images/bg-img01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    box-shadow: inset 0 0 0 2000px #272640c0;
    justify-content: center;
    text-align: center;
}

.hero img {
    height: 200px;
}

/*Projects*/

.projects {
    padding: auto;
}

.projects h2 {
    display: flex;
    justify-content: center;
}

.projects img {
    height: 250px;
    object-fit: cover;
}

#project:hover {
    cursor: pointer;
    box-shadow: inset 0 0 0 2000px var(--highlightColor);
    transition: all 0.35s;
}

/*Skills*/

.skills h2 {
    display: flex;
    justify-content: center;
}

.skill-container {
    display: flex;
    justify-content: center;
}

/*About Me / Contact*/

.details h2 {
    display: flex;
    justify-content: center;
}

.details .card {
    height: 220px;
}

.socialIcons {
    display: flex;
    justify-content: space-evenly;
}

.socialIcons a {
    padding: 25px;
    border-radius: 100%;
    background-color: var(--primaryColour);
}

.socialIcons a:hover {
    box-shadow: inset 0 0 0 2000px var(--highlightColor);
}

i {
    color: var(--textColour);
}

/*Footer*/

footer {
    background-color: var(--secondaryColour);
    margin-top: 50px;
}

footer .container {
    display: flex;
    justify-content: center;
    padding: 15px;
}